@import "@/styles/colors";

.button {
    padding: 16px 48px;
    border: none;

    font: inherit;
    font-size: 18px;
    font-weight: 700;

    outline: none;
    color: $dark-blue;

    cursor: pointer;
    transition: all 0.3s linear;

    &Yellow {
        background-color: $yellow;

        &:hover {
            background-color: $yellow-hover;
        }
    }

    &White {
        background-color: $white;

        &:hover {
            background-color: $very-light-purple;
        }
    }
}
