@import "@/styles/colors";

.logos {
    padding: 32px 0 96px;

    display: flex;
    align-items: center;

    &Title {
        margin-right: 85px;

        color: $light-grey;
    }

    &Item {
        margin-right: 75px;

        &:last-child {
            margin-right: 0;
        }
    }
}
