@import "@/styles/colors";

.post {
    display: flex;
    align-items: center;
    gap: 30px;

    cursor: pointer;
    transition: all 0.3s linear;

    &Content {
        max-width: 580px;
    }

    &Category {
        margin-bottom: 20px;

        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;

        color: $purple;
    }

    &Image {
        width: 490px;
        height: 320px;

        &Small {
            width: 290px;
            height: 290px;
        }
    }
    &Title {
        margin-bottom: 16px;
    }

    &Text {
        color: $dark-grey;
    }

    &:hover {
        background-color: $milk;
    }

    &Column {
        max-width: 400px;
        height: 550px;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 30px;
            line-height: 30px;
        }

        h5 {
            font-size: 15px;
        }

        img {
            width: 100%;
            height: 250px;
        }

        div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
